.container-manage-connections {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-tables {
  width: 1300px;
  display: flex;
  justify-content: space-between;
}

.container-table {
  width: 500px;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.table {
  width: 500px;
}

.container-buttons-footer {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.button-footer {
  width: 100px;
  height: 40px;
}
