.container-popup-connection {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container-form-databases {
  display: flex;
  justify-content: space-between;
}

.container-connection-name {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}

.width-buttons-footer {
  width: 400px;
}

.button-connection {
  width: 100px;
  height: 35px;
}
