$default-form-width: 400px;
$default-border-width-form: 20px;
$default-padding-header-form: 10px;
$default-padding-right-left-form: 50px;
$default-padding-top-bottom-form: 30px;
$default-margin-top: 10px;
$default-font-size-label-form: 15px;
$large-height-control: 45px;
$default-margin-left-label-checkbox: 10px;
$default-font-size-label-navbar: 15px;
$default-width-nav-right: 200px;